body {
    box-sizing: border-box;
    // background-image: url('../imgs/Background-website-01.jpg');
    background: linear-gradient(to top, rgba(255, 72, 0, 0.164), rgba(255, 255, 255, 0.384)), url('../imgs/Background-website-01.jpg');
    background-size: cover;

}
.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
