.game-container {
    display: flex;
    // justify-content: center;
    justify-content: space-evenly;

    
    .grid-presets-container {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    
    .presets-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        
        .preset-container {
            align-items: center;
            display: flex;
            justify-content: space-around;
            width: 100%;
            
            img {
                width: 30%;
            }
        }
    }

    .grid-presets {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        // .grid {
        //     width: 84%;
        // }
    }
    

    .rules-container {
        display: flex;
        justify-content: center;
        width: 20%;
    
        h2 {
            margin-top: 0;   
        }
    }

    .action-btns-container {
        display: flex;
        justify-content: flex-start;
    }
}
