.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    
    .grid-presets-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;

        .generation {
            align-self: start;
        }
    }
    
    .presets-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        // border-bottom: 3px solid black;
        padding: 10px 0;
        
        .preset-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            
            img {
                width: 30%;
            }
        }
    }

    .grid-presets {
        display: flex;
        flex-direction: column;
    }
    

    .rules-container {
        display: flex;
        flex-direction: column;
        width: 20%;
    
        h2 {
            margin-top: 0;   
        }
    }

    .action-btns-container {
        display: flex;
        justify-content: flex-start;
    }

    .grid-rules {
        display: flex;
        justify-content: center;
    }
}

.cell {
    background-color: black;
    
    &:focus {
        outline: none;
    }
    
    &:hover {
        background-color: white;
    }
}
