.grid {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    // height: 363px;
    // width: 350px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2) .1em, transparent .1em), linear-gradient(90deg, rgba(255, 255, 255, 0.2) .1em, transparent .1em);
    // background-size: 20px 20px;
}